---
layout: sezionelocale
title: Perugia
---


<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Perugia</h1>
        <p>ILS Perugia raccogliere l'eredità dell'associazione GNU/LUG Perugia, già da anni attiva sul territorio sia con l'organizzazione del Linux Day che con azioni presso le scuole e le istituzioni locali.</p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Web</strong>: <a href="https://perugia.ils.org/" rel="nofollow">Clicca Qui</a>
                    </p>
                    <p>
                        <strong>Referente</strong>: francesco.marinucci@linux.it
                    </p>
            </div>
        </div>
    </div>
</div>
