---
layout: sezionelocale
title: Torino
---

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Torino</h1>
    <p>
      Quella di Torino è la prima Sezione Locale registrata in Italian Linux Society. Instaurata a gennaio 2020, raccoglie le esperienze del Comitato Linux Day Torino (che dal 2007 organizza l'evento nel capoluogo sabaudo) e dell'associazione Officina Informatica Libera (specializzata in trashware e software libero), coinvolgendo anche membri di WeeeOpen (gruppo studentesco del Politecnico di Torino), Restart Party (collettivo per la riparazione ed il riuso degli oggetti) e diversi altri gruppi locali.
  </p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">

                    <p>
                        <strong>Web</strong>: <a href="https://torino.ils.org/" rel="nofollow">Clicca Qui</a>
                    </p>

                    <p>
                        <strong>Referente</strong>: valerio.bozzolan@linux.it
                    </p>

                    <p>
                        <strong>Telegram</strong>: LinuxTorino
                    </p>

                    <p>
                        <strong>Dove</strong>: tutti i mercoledi dalle 18:00 alle 20:00 presso la Casa del Quartiere di via Oddino Morgari 14, Torino
                    </p>

            </div>
        </div>
    </div>
</div>
