---
layout: page
title: L'Associazione
description: ILS favorisce la diffusione del sistema operativo libero Linux, la libera circolazione delle idee e della conoscenza in campo informatico e promuove lo studio ed il libero utilizzo delle idee e degli algoritmi destinati al funzionamento dei sistemi informatici
---

<div itemscope itemtype="http://schema.org/Organization">
    <img itemprop="logo" src="/images/italian_linux_society_round_mid-text.png" alt="Italian Linux Society" class="float-right" />

    <p><strong><span itemprop="name">Italian Linux Society</span></strong>, nota più semplicemente come <strong>ILS</strong>, nasce nel <span itemprop="foundingDate">1994</span> ed in breve tempo si estende a tutto il territorio nazionale fino a diventare la più grande associazione italiana per la promozione e la divulgazione di Linux e del Software Libero.</p>
    <p itemprop="description">ILS favorisce la diffusione del sistema operativo libero Linux, la libera circolazione delle idee e della conoscenza in campo informatico e promuove lo studio ed il libero utilizzo delle idee e degli algoritmi destinati al funzionamento dei sistemi informatici.</p>
    <p>Per saperne di più su Linux e sul Software Libero visita il nostro sito dedicato, <a href="https://www.linux.it/">Linux.it</a></p>

    <hr>

    <h2 id="aderenti">Aderenti</h2>
    <p>Italian Linux Society è presente in tutta Italia, tramite Sezioni Locali e Associazioni Aderenti.</p>

    <div class="row">
        <div class="col-md-7"><div id="mapid"></div></div>
        <div class="col-md-5">
            <div class="row" id="sections">
                <div class="col-12">
                    <strong>Sezioni Locali</strong>
                </div>
                {{% localsections type=div %}}
            </div>
            <p>Per informazioni sulle Sezioni Locali e su come proporne di nuove: <a href="/sezionilocali">Sezioni Locali Italian Linux Society</a>.</p>
            <hr>
            <div class="row" id="associations">
                <div class="col-12">
                    <strong>Associazioni Aderenti</strong>
                </div>
                {{% associations %}}
            </div>
            <p class="mt-3">Per informazioni sulle Associazioni Aderenti e su come proporre nuove adesioni: <a href="/associazioni">Associazioni Aderenti a Italian Linux Society</a>.</p>
        </div>
    </div>

    {{% info-map %}}

    <hr>

    <h2 id="partner">Partner</h2>
    <p>Italian Linux Society ha relazioni e rapporti con diverse realtà nazionali e internazionali senza scopo di lucro, impegnate sul tema delle libertà digitali e della consapevolezza tecnologica.</p>
    <div class="row justify-content-md-center">
        {{% partners %}}
    </div>

    <hr>

    <h2 id="sponsor">Sponsor</h2>
    <p>Gli sponsor sono aziende che lavorano con software libero e open source e sostengono le attività di Italian Linux Society.</p>
    <div class="row justify-content-md-center">
        {{% sponsors %}}
    </div>
    <p class="mt-3">Scopri in cosa consiste una <a href="/sponsorizzazioni">sponsorizzazione con Italian Linux Society</a> e come attivarne una nuova.</p>
    <hr>

    <h2 id="donazioni">Donazioni</h2>
    <p>Aiutaci ad aiutare la community! Per le tue donazioni, di qualunque entità, o per il rinnovo della tua quota di iscrizione, fai riferimento al seguente conto corrente:</p>
    <div class="card text-white bg-secondary">
        <div class="card-body">
            Banca: Unicredit Banca<br>
            IBAN: IT 74 G 02008 12609 000100129899<br>
            Intestato a: ILS ITALIAN LINUX SOCIETY
        </div>
    </div>
    <br>
    <p>oppure usa il conto PayPal:</p>
    <div class="card text-white bg-secondary">
        <div class="card-body">
            Intestatario: direttore@linux.it
        </div>
    </div>

    <hr>

    <h2>Consiglio Direttivo</h2>
    <p>Il Consiglio Direttivo di Italian Linux Society è attualmente composto da:</p>
    <ul>
        <li><a href="mailto:gnu@linux.it">Valerio Bozzolan (Direttore)</a></li>
        <li itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint"><a itemprop="email" href="mailto:bob@linux.it"><span itemprop="name">Roberto Guido</span> (Presidente)</a></li>
        <li><a href="mailto:rubini@linux.it">Alessandro Rubini</a></li>
        <li><a href="mailto:matteo.ruffoni@linux.it">Matteo Ruffoni</a></li>
        <li><a href="mailto:mte90@linux.it">Daniele Scasciafratte</a></li>
    </ul>

    <h2>Documenti</h2>
    <ul>
        <li><a href="/statuto">Statuto</a></li>
    </ul>
</div>
