---
layout: sezionelocale
title: Rieti
---

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Rieti</h1>
        <p>
    La Sezione Locale di Rieti nasce da un nucleo di persone che in occasionale del Linux Day 2018 si sono aggregate ed hanno poi preso ad organizzare incontri dal vivo e online.
    </p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Web</strong>: <a href="https://rieti.ils.org/" rel="nofollow">Clicca Qui</a>
                    </p>
                    <p>
                        <strong>Referente</strong>: daniele.scasciafratte@linux.it
                    </p>
            </div>
        </div>
    </div>
</div>
